@CHARSET "ISO-8859-1";
/*common part*/
body {
	background-image: url("../images/fiori.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}



div#content {
	font-family: Verdana;
	margin: 40px auto 80px auto;
	width: 800px;
	padding: 10px;
}

div#ricercaNegozio {
	background-color: white;
	marging: 10px 10px 10px 10px;
	padding: 10px 10px 10px 30px;
}
/*header*/
header#header-of-the-page {
	padding: 10px;
	margin-bottom: 10px;
	-webkit-filter: opacity(0.8);
	-moz-filter: opacity(0.8);
	-o-filter: opacity(0.8);
	-ms-filter: opacity(0.8);
	background-color: #FFFFFF;
}

header#header-of-the-page img {
	float: right;
	height: 120px;
}
/*footer*/
footer#footer-of-the-page {
	padding: 10px;
	margin-top: 20px;
	-webkit-filter: opacity(0.8);
	-moz-filter: opacity(0.8);
	-o-filter: opacity(0.8);
	-ms-filter: opacity(0.8);
	background-color: #FFFFFF;
}

footer#footer-of-the-page img {
	float: right;
	height: 100px;
}
/*nav*/
nav {
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
	background-color: #FFFFFF;
	-webkit-filter: opacity(0.8);
	-moz-filter: opacity(0.8);
	-o-filter: opacity(0.8);
	-ms-filter: opacity(0.8);
}

nav ul {
	text-align: center;
	padding: 0px 0px 0px 0px;
}

nav ul li {
	display: inline;
	margin-left: 1em;
	margin-right: 1em;
}

nav ul li a {
	font-size: 1.7em;
	color: black;
	text-decoration: none;
}

nav ul li a:link, nav ul li a:visited {
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	color: #ec9900;
}

nav ul li a#selected {
	color: #ec9900;
}

/*mobile*/
@media screen and (max-width: 840px) {
	header a img {
		display: none;
	}
	div#content {
		font-family: Verdana;
		margin: 0px 0px 0px 0px;
		padding: 0px;
		width: 100%;
	}
	body {
		background-image: none;
		background-color: black;
	}
	nav {
		padding: 0px 0px 0px 0px;
	}
	nav ul {
		margin: auto auto auto auto;
	}
	
	nav ul li a {
		font-size: 1.2em;
	}
	header#header-of-the-page h1 {
		font-size: 1.5em;
		text-align: center;
		margin: auto auto auto auto;
	}
	nav ul li {
	display:block;
	border-style:solid;
	border-color:gray;
	}
}