@CHARSET "ISO-8859-1";

div#content-home-page {
	height: 500px;
	transition-property: background-image;
	transition-duration: 2s;
}

audio {
	margin-top: 40px;
}

/*mobile*/
@media screen and (max-width: 840px) {
	div#content-home-page {
		display: none;
	}
	
}

